div.body {
    min-width: 200px;
    max-width: 100%;
}

h1.logo {
    font-size: 24px;
}

img.logo {
    margin-bottom: 1rem;
}

@font-face {
font-display: swap;
font-family: "PublicSans";
font-style: normal;
font-weight: 400;
src: url("fonts/public-sans-v11-latin-regular.woff2") format("woff2");
}
@font-face {
font-display: swap;
font-family: "PublicSans";
font-style: normal;
font-weight: 700;
src: url("fonts/public-sans-v11-latin-700.woff2") format("woff2");
}
@font-face {
font-display: swap;
font-family: "PublicSans";
font-style: italic;
font-weight: 400;
src: url("fonts/public-sans-v11-latin-italic.woff2") format("woff2");
}
@font-face {
font-display: swap;
font-family: "PublicSans";
font-style: italic;
font-weight: 700;
src: url("fonts/public-sans-v11-latin-700italic.woff2") format("woff2");
}